@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: 100%;
  width: auto;
  
}

.container {
  min-width: 320px;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

