<header class="header">
  <div class="container">
    <nav class="nav-list">
      <a class="logo" href="./index.html">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/icons/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <a href="./index.html" class="site-nav__link">HOME</a>
        </li>
        <li class="nav-menu__item">
          <a href="./library.html" class="site-nav__link site-nav__link--active"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>

    <ul class="buttons">
      <button  id="watchedBtn" class="buttons__list" type="button">WATCHED</button>
      <button id="queueBtn" class="buttons__list" type="button">QUEUE</button>
    </ul>
  </div>
  <div class="theme-switch">
    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="codepen"
        aria-label="Переключить между тёмной и светлой темой"
      />
      <label
        aria-hidden="true"
        class="theme-switch__track"
        for="codepen"
      >
        <div class="theme__icon">
          <span>
            <svg type="image/svg+xml" class="sunny__icon">
              <use
                type="image/svg+xml"
                class=""
                alt="иконка луны"
                href="./images/icons/sprite.svg#icon-moon"
              ></use>
            </svg>
          </span>
          <span>
            <svg type="image/svg+xml" class="sunny__icon">
              <use
                type="image/svg+xml"
                class=""
                alt="иконка солнца"
                href="./images/icons/sprite.svg#icon-sun"
              ></use></svg>
            </span>
        </div>
      </label>
  </div>
</header>
