<header class="header">
    <div class="container">
        <nav class="nav-list">
            <a class="logo" href="./index.html">
                <svg class="logo-icon" width="24" height="24">
                    <use href="./images/icons/sprite.svg#icon-film"></use>
                </svg>
                <span class="logo__name">Filmoteka</span>
            </a>
            <ul class="nav-menu">
                <li class="nav-menu__item"><a href="./index.html" class="site-nav__link site-nav__link--active">HOME</a></li>
                <li class="nav-menu__item"><a href="./library.html" class="site-nav__link">LIBRARY</a></li>
            </ul>
        </nav>
      
            <form class="search-form" id="search-form">
              <input class="search-field"
                type="text"
                name="searchQuery"
                autocomplete="off"
                placeholder="Movie search"
              />
              <button class="search-form-button" type="submit">
                <svg class="search-icon" width="12" height="12">
                    <use href="./images/icons/sprite.svg#icon-search"></use>
                </svg>
              </button>
            </form>
          
        
    </div>
</header>