<header class="header">
  <div class="container">
    <nav class="nav-list">
      <a class="logo" href="./index.html">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/icons/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <a href="./index.html" class="site-nav__link">HOME</a>
        </li>
        <li class="nav-menu__item">
          <a href="./library.html" class="site-nav__link site-nav__link--active"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>

    <ul class="buttons">
      <button class="buttons__list" type="submit">WATCHED</button>
      <button class="buttons__list" type="submit">QUEUE</button>
    </ul>
  </div>
  
</header>
