<div class="backdrop is-hidden">

  <div class="modal" data-modal>
    <button type="button" class="modal-close-btn" data-modal-close>

      <svg class="modal__img" width="30px" height="30px">
          <use href="./images/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <div class="image-thumb"></div>
      <div class="about-movie">
        <h2 class="movie-header"></h2>
        <p class="ratings-wrapper">
          <span class="raings-name">Vote / Votes:</span>
          <span class="vote"></span>
          <span class="slash"> / </span>
          <span class="votes"></span>
         
        </p>
        <p class="popularity-wrapper">
          <span class="popularity-name">Popularity:</span>
          <span class="popularity-modal"></span>
        </p>
    
        <p class="original_title-wrapper">
          <span class="original_title-name">Original Title:</span>
          <span class="original_title-modal"></span>
        </p>
      

        <p class="genres-wrapper"> 
          <span class="genres-name">Genres:</span>
          <span class="genres-modal"></span>
        </p>
      
        <p class="overview-name">ABOUT</span></p>
        <p class="overview-modal"></p>

        <ul class="modal-buttons">
          <button class="button-watched-modal" type="submit">ADD TO WATCHED</button>
          <button class="button-queue-modal" type="submit">ADD TO QUEUE</button>
        </ul>

        <span class="markup-for-library hidden"></span>
      </div>
    
</div>
