<div class="backdrop is-hidden">
  <div class="modal">
    <div class="modal-content">
      <div class="image-thumb"></div>
      <div class="about-movie">
        <h2 class="movie-header"></h2>
        <p class="ratings-wrapper">
          Vote / Votes: <span class="vote"></span>/<span class="votes"></span>
        </p>
        <p class="popularity-wrapper">
          Popularity: <span class="popularity-modal"></span>
        </p>
        <p class="original_title-wrapper">
          Original Title: <span class="original_title-modal"></span>
        </p>
        <p class="genres-wrapper">Genres: <span class="genres-modal"></span></p>
        <span>About</span>
        <p class="overview-modal"></p>
        <ul class="buttons">
          <button class="buttons__list" type="submit">ADD TO WATCHED</button>
          <button class="buttons__list" type="submit">ADD TO QUEUE</button>
        </ul>
      </div>
    </div>
    <button type="button" class="button-close-modal">ⓧ</button>
  </div>
</div>
