.footer{
    min-height: 79px;
    margin-top: 30px;
}
.footer__item{
    display: flex;
    justify-content: center;
}
.footer__name{
    margin-left: 5px;
}
.footer__name-line::after{
    content: "";
    
    left: 0;
    bottom: 0;
    height: 15px;
    width: 2px;
    background-color: #545454;
    display: inline-block;
    margin-left: 5px;
}
.footer-icon{
    margin-right: 10px;
    margin-left: 10px;

}
