.container {
  color: #545454;

  .footer__image {
    margin-left: 10px;
    margin-right: 10px;
    fill: #ff6b08;
  }
}

.footer {
  background-color: rgb(247, 247, 247);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s ease-in-out; /* added transition property */
}

/* added new class to apply negative transform when scrolled */
.footer--hidden {
  transform: translateY(100%);
}

@media screen and (min-width: 320px) {
  .copyright {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .developers {
    margin: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    p {
      margin: 0;
    }
  }
  .footer__page {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  .footer__page {
    display: flex;
    justify-content: center;
  }

  .copyright {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .developers {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer__page {
    font-size: 16px;
    font-weight: 400;
  }
}
